extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slide
		.container
			.row
				.col
					
						h1.hidden-md-up.display-4 Awesome Bootstrap Sites!
						h2.hidden-md-up Dễ dàng triển khai và sử dụng
						p.lead Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap.
						a.btn.btn-warning(href="") click

	section.home-product
		.container
			.row
				.col
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.  
			.row
				.col-sm-6.col-md-3
					img(src="../img/home_icon_1.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
						
				.col-sm-6.col-md-3
					img(src="../img/home_icon_2.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
				.col-sm-6.col-md-3
					img(src="../img/home_icon_3.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
				.col-sm-6.col-md-3
					img(src="../img/home_icon_4.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
				
	select.home-team
		.container
			.row
				.col
					h2	helloo
