extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	section.home-slide
		.container
			.row
				.col
					
						h1.hidden-md-up.display-4 Awesome Bootstrap Sites!
						h2.hidden-md-up Dễ dàng triển khai và sử dụng
						p.lead Bộ công cụ phát triển web vô cùng mạnh mẽ dựa trên nền tảng Bootstrap.
						a.btn.btn-warning(href="") click

	section.home-product
		.container
			.row.caption
				.col
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.  
			.row
				.col-sm-6.col-md-3
					img(src="../img/home_icon_1.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
						
				.col-sm-6.col-md-3
					img(src="../img/home_icon_2.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
				.col-sm-6.col-md-3
					img(src="../img/home_icon_3.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
				.col-sm-6.col-md-3
					img(src="../img/home_icon_4.png", alt="", srcset="")
					.col
						h2 LOREM IPSUM
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda temporibus saepe, accusamus esse blanditii dasd ssadasdlka sjdlka.
	section.home-team
		.container
			.row.caption
				.col
					h2 hello
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint adipisci a dolor fugiat cumque
			.row
				.col-sm-6.col-md-3
					img.bordertron(src="../img/home_product1.png", alt="", srcset="")
					h2 LÊ SĨ
					h3 CEO
					p LÀ MỘT SẾP ĐÉO CÓ GÌ NGOÀI 50 CM  VÀ 30PHUT
				.col-sm-6.col-md-3
					img.bordertron(src="../img/home_product1.png", alt="", srcset="")
					h2 LÊ SĨ
					h3 CEO
					p LÀ MỘT SẾP ĐÉO CÓ GÌ NGOÀI 50 CM  VÀ 30PHUT
				.col-sm-6.col-md-3
					img.bordertron(src="../img/home_product1.png", alt="", srcset="")
					h2 LÊ SĨ
					h3 CEO
					p LÀ MỘT SẾP ĐÉO CÓ GÌ NGOÀI 50 CM  VÀ 30PHUT
				.col-sm-6.col-md-3
					img.bordertron(src="../img/home_product1.png", alt="", srcset="")
					h2 LÊ SĨ
					h3 CEO
					p LÀ MỘT SẾP ĐÉO CÓ GÌ NGOÀI 50 CM  VÀ 30PHUT
	// day là form  thiếu phần section laptop + section laptop
	section.home_skill
		.container
			.row.caption
				.col.text-center
					h2 WE GOT SKILLS!
					p 
					| Lorem ipsum dolor sit amet consectetur adipisicing elit.  
					br
					| Facilis cupiditate sapiente nemo doloribus ipsam reiciendis maiores
			.row.mt-5
				-for(x = 1;x < 5;x++)
					.col-sm-6.col-md-3.skill
						-if(x==1)
							.progress-circle.progress-90
								span 90%
							h3 WEB DESIGN
						-if(x==2)
							.progress-circle.progress-75
								span 75%
							h3 HTML / CSS
						-if(x==3)
							.progress-circle.progress-70
								span 70%
							h3 GRAPHIC DESIGN
						-if(x==4)
							.progress-circle.progress-85
								span 85%
							h3 UI / UX
	// vs insert backgroud vs color cho form
	section.home-our-portfolo
		.container
		
			.row
				.col.caption
					h2 Our portfolo
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
			.row
				.col 
					.col.text-center
						ul.list-inline
							li.list-inline-item
								a.btn(href="#") ALL
							li.list-inline-item
								a.btn(href="#") WEB
							li.list-inline-item
								a.btn(href="#") APPS
							li.list-inline-item
								a.btn(href="#") ICONS



			.row.our-padding
				.col-md-6
					img.laptop(src="../img/home_products1.png", alt="", srcset="")
					p ádsadsadasdsadasdasd
				.col-md-6
					img.laptop(src="../img/home_products2.png", alt="", srcset="")
					p ádsadsadasdsadasdasd
				.col-md-6
					img(src="../img/home_products3.png", alt="", srcset="")
					p ádsadsadasdsadasdasd
				.col-md-6
					img(src="../img/home_products4.png", alt="", srcset="")
					p ádsadsadasdsadasdasd
	section.home-about-us
		.container
			.row
				.col
					h2 WE GOT ABOUT US!
					p Lorem ipsum dolor sit amet.
			.row
				.col-md-6.mt-5
					.row
						.col-md-3
							img.img-fluid(src="../img/home_product1.png", alt="", srcset="")
						.col-md-9
							p.text "Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque."
							h5.text CHANEL IMAN
							p.text CEO of Pinterest
				.col-md-6.mt-5
					.row
						.col-md-3
							img.img-fluid(src="../img/home_product1.png", alt="", srcset="")
						.col-md-9
							p.text "Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque."
							h5.text CHANEL IMAN
							p.text CEO of Pinterest
				.col-md-6.mt-5
					.row
						.col-md-3
							img.img-fluid(src="../img/home_product1.png", alt="", srcset="")
						.col-md-9
							p.text "Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque."
							h5.text CHANEL IMAN
							p.text CEO of Pinterest
				.col-md-6.mt-5
					.row
						.col-md-3
							img.img-fluid(src="../img/home_product1.png", alt="", srcset="")
						.col-md-9
							p.text "Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque."
							h5.text CHANEL IMAN
							p.text CEO of Pinterest