<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div class="flex-wrapper">
        <div class="single-chart">
            <svg viewbox="0 0 36 36" class="circular-chart orange">
			<path class="circle-bg"
			  d="M18 2.0845
				a 15.9155 15.9155 0 0 1 0 31.831
				a 15.9155 15.9155 0 0 1 0 -31.831"
			/>
			<path class="circle"
			  stroke-dasharray="30, 100"
			  d="M18 2.0845
				a 15.9155 15.9155 0 0 1 0 31.831
				a 15.9155 15.9155 0 0 1 0 -31.831"
			/>
			<text x="18" y="20.35" class="percentage">30%</text>
		  </svg>
        </div>
</body>

</html>