//- footer
//- 	.container
//- 		.ul
//- 			.row
//- 				.col
//- 					ul.list-group
//- 						li.list-group-item
//- 							a(href="http://") facebook
//- 						li.list-group-item
//- 							a(href="") youtube
//- 						li.list-group-item
//- 							a(href="http://") skype
//- 						li.list-group-item
//- 							a(href="http://") SNAPCHAT
//- 						li.list-group-item
//- 							a(href="http://") Sideptrai
//- 						li.list-group-item
//- 							a(href="http://") All free education	